<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Degree Checklist</title>
</head>
    <body>
        <h1>Required & Core Courses</h1>
        <hr>
        <ul>
        {% for data in form %}
        <li>
            <span class="text-info">Subject Name: </span> <span>{{data.subject_name}}</span>
            <br>
            <span class="text-info">Required Hours: </span> <span> {{data.hours}}</span>
            <br>
            <span class="text-info">Classes Offered: </span> <span> {{data.classes_offered}}</span>
            

        </li>
        {% endfor %}
        </ul>
      </body>
  </html>